*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
    height: 75px;
    padding: 40px;
}
nav h3{
    color: rgb(234, 206, 26);
    font-size: 35px;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    margin-left: 70px;
    font-size: 25px;
    color: white;
}
.ingame input{
    padding: 10px;
    border: 1px solid rgb(234, 206, 26);
    width: 180px;
    border-radius: 2px;
    background: none;
    color: white;
}
.ingame input::placeholder{
    color: white;
}
.ingame button{
    padding: 10px;
    background: rgb(234, 206, 26);
    color: white;
    border: none;
    border-radius: 2px;
}
header{
    background-image: url(./backroundtree.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.ongame h1{
    font-size: 55px;
    color: white;
}    
.over{
    color: orange
}
.ongame, p{
    color: white;
}    
.ongame{
    margin-top: 220px;
    margin-left: 120px;
}
.ongame button{
    background: orange;
    color: white;
    width: 130px;
    height: 35px;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
}
.game-over{
    display: flex;
}
.atgame{
    height: 360px;
    width: 300px;
    text-align: center;
    margin-left: 400px;
    margin-top: 200px;
    background: black;
}
.atgame button{
    width: 230px;
    height: 35px;
    border-radius: 10px;
    margin-top: 25px;

}
.atgame input{
    width: 230px;
    height: 35px;
    margin-top: 20px;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    color: white;
}
.but1{
   border: none;
   color: orange;
}
.but2{
    background: orange;
    color: black;
}
.icoon img{
    width: 18px;
    margin-top: 15px;
    margin-left: 15px;
}
